:root {
  --txt-black: rgba(84, 84, 84, 1);
  --txt-blue: rgba(17, 105, 176, 1);
  --blue: rgba(17, 105, 176, 1);
  --txt-blue-white: rgba(88, 150, 200, 1);
  --blue-icons: rgba(47, 128, 237, 1);
}
